<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CommunityGamesTable.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CommunityGamesTable.Properties.Settings>
            <setting name="clientId" serializeAs="String">
                <value>clientIdHere</value>
            </setting>
            <setting name="clientSecret" serializeAs="String">
                <value>secretIdHere</value>
            </setting>
            <setting name="redirectUrl" serializeAs="String">
                <value>http://localhost</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>25777</value>
            </setting>
            <setting name="joinCommand" serializeAs="String">
                <value>join</value>
            </setting>
            <setting name="unlistCommand" serializeAs="String">
                <value>unlist</value>
            </setting>
            <setting name="regions" serializeAs="String">
                <value>EU;NA;Asia;Misc</value>
            </setting>
            <setting name="StartBotOnStartUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChannelName" serializeAs="String">
                <value>heretic721</value>
            </setting>
            <setting name="AnnounceChannelJoin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AnnounceChannelJoinText" serializeAs="String">
                <value>You can now sign up in the community games on the {1} server!</value>
            </setting>
            <setting name="AnnounceShutDown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AnnounceShutDownText" serializeAs="String">
                <value>Community games are now ending.</value>
            </setting>
            <setting name="SuccessfulJoin" serializeAs="String">
                <value>You have successfully joined the community games! Friend request heretic721#1404 to speed up the process please.</value>
            </setting>
            <setting name="JoinWrongServer" serializeAs="String">
                <value>The community games are running on  the {1} server, not the {0} one.</value>
            </setting>
            <setting name="JoinNonExistentServer" serializeAs="String">
                <value>The region you attempted to join a game in does not exist. (we play on {1} today)</value>
            </setting>
            <setting name="JoinWithoutBattletag" serializeAs="String">
                <value>You have to specify your battletag. Use "!join{1} battletag" to join the game.</value>
            </setting>
            <setting name="AllowMoreArguments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="JoinTooManyArguments" serializeAs="String">
                <value>You have to only specify your battletag when joining.</value>
            </setting>
            <setting name="UnlistTooManyArguments" serializeAs="String">
                <value>This command is used without arguments.</value>
            </setting>
            <setting name="UnlistSuccessful" serializeAs="String">
                <value>You were removed from the current community games.</value>
            </setting>
            <setting name="UnlistNotSuccessful" serializeAs="String">
                <value>You were not removed since you were not on the player list.</value>
            </setting>
            <setting name="JoinAlreadyJoined" serializeAs="String">
                <value>You already joined the game, but your battletag was updated now.</value>
            </setting>
            <setting name="ReplyIncludesUserName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChatReplyDelay" serializeAs="String">
                <value>1.01</value>
            </setting>
        </CommunityGamesTable.Properties.Settings>
    </userSettings>
</configuration>